# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# mongodb
DATABASE_URL="mongodb+srv://root:root123@cluster0.qii2gv5.mongodb.net/lms"

# api port
API_PORT=3000

# cors origin
ORIGIN="*"

# cloudinary
CLOUDINARY_URL="cloudinary://548364813289825:qrTs4elz5f0rQb23_orpbr_3EXQ@denrysscp"
CLOUDINARY_CLOUD_NAME="denrysscp"
CLOUDINARY_API_KEY=548364813289825
CLOUDINARY_API_SECRET="qrTs4elz5f0rQb23_orpbr_3EXQ"

# upstash
REDIS_URL="redis://default:57d4b26e98754eb69e8b5e072af1e19c@usw1-valid-titmouse-33674.upstash.io:33674"
REDIS_HOST="usw1-valid-titmouse-33674.upstash.io"
REDIS_PORT=33674
REDIS_PASS="57d4b26e98754eb69e8b5e072af1e19c"
REDIS_USER="default"

